# Editing
alias aliases='$EDITOR {{ .chezmoi.homeDir }}/.config/zsh/zsh-aliases ; reload'
alias funcs='$EDITOR {{ .chezmoi.homeDir }}/.config/zsh/zsh-functions ; reload'
alias zshrc='$EDITOR {{ .chezmoi.homeDir }}/.zshrc ; reload'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# M1
alias aa='arch -arm64 '
alias mzsh="arch -arm64 zsh"
alias izsh="arch -x86_64 zsh"

# Git
alias g='git'
alias p="git add -A -N && git add -p"
alias s="git status -sb"

alias gam="git commit --amend --no-edit"
alias gp="git push"
alias gl="git pull"
alias gr="git reset"
alias gff="git flow feature"
alias gg="cd-gitroot"
alias mj="gitmoji -c"
alias gm="git merge"
alias gmm="if git show-ref -q --heads main; then; git merge main; else; git merge master; fi"
alias gps="gh pr status"
alias gpc="gh pr checkout"
alias gpl="gh pr list"

alias gfr='git fetch && git rebase'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias gd='git diff'
alias gc='git commit'
alias gca='git commit --amend'
alias gco='git checkout'
alias gcb='git rev-parse --abbrev-ref HEAD | tr -d "\n" | pbcopy'
alias gcos='git checkout staging'
alias gb='git branch'
alias ga="git add"
alias ga.="git add ."
alias gaa="git add --all"
alias gai="git add -i"
alias gcaa="git commit -a --amend"
alias gco-="git checkout -"
alias gcob="git checkout -b"
alias gcom="if git show-ref -q --heads main; then; git checkout main; else; git checkout master; fi"
alias gcod="git checkout develop"
alias gcl="git clone"
alias gcln="git clean"
alias gdc="git diff --name-only --diff-filter=U"
alias gds="git diff --staged"
alias gfo="git fetch origin"
alias gpr="gh pr"
alias gq="ghq get -l -p"
gqe() { ghq get -l -p eventpop/$* }
gqn() { ghq get -l -p davidpanzarella/$* }
gpuo() { git push -u origin $(git rev-parse --abbrev-ref HEAD) }
alias gmd="git merge develop"
alias grm="if git show-ref -q --heads main; then; git rebase main; else; git rebase master; fi"
alias grh="git reset HEAD"
alias grp="git rebase -p"
alias gpw="gh pr view -w"
alias grw="gh repo view -w"
alias gsub="git submodule update --init --recursive --remote"
alias gli="git ls-files -o -i --exclude-standard --directory | grep -v '\.DS_Store'"
alias glr="git pull --rebase"

# Misc
alias -- -='cd -'
alias be="bundle exec"
alias bi="bundle install"
alias bf="bh | fzy"
alias br="brew"
alias brci="brew install --cask"
alias bri="brew install"
alias brs="brew search"
alias cl="clear"
alias c='cd {{ .chezmoi.homeDir }}/Development && ls'
alias c.="code ."
alias cd.="code --user-data-dir /tmp/code-data/ --disable-extensions ."
alias cwd='pwd | pbcopy'

# alias finder="cd \"$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')\""
alias da='direnv allow'
alias de='direnv edit'
alias ex='exercism'
alias fixappleeventsbug='sudo killall -KILL appleeventsd'
alias gowd='cd "`pbpaste`"'
alias gs="gatsby"
alias gu="gitupdate"
alias h='helm'
alias hdi='howdoi'
alias ip='curl ifconfig.me'
alias jsc='/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc'
alias qr='qrcode'
alias sand='cd {{ .chezmoi.homeDir }}/Sandbox && ls'
alias l='ls -la'
alias lt='cd {{ .chezmoi.homeDir }}/laptop'
alias ltgl='cd {{ .chezmoi.homeDir }}/laptop && git pull'
alias mk='minikube'
alias mux='tmuxinator'
alias nf='neofetch'
alias o.="open ."
alias o="open"
alias please='sudo bash -c "$(fc -l -1 | cut -d " " -f 4-)"'
alias postmaster='rm {{ .chezmoi.homeDir }}/Library/Application\ Support/Postgres/var-12/postmaster.pid'
alias r="bundle exec rails"
alias rc="bundle exec rails console"
alias rge="bundle exec rails generate"
alias rs="bundle exec rails server"
alias redo='sudo !!'
alias reload='exec $SHELL -l'
# alias serve='python -m SimpleHTTPServer 8000'
alias t=touch-safe
alias te=touch-editor
alias tg=terragrunt
alias tf=terraform
alias tm=tmux
alias tmux="direnv exec / tmux"
alias tn='terminal-notifier'
alias tnm='terminal-notifier -message'
alias uuid='uuidgen | tr "[:upper:]" "[:lower:]"'
alias v="lvim"
alias vim="lvim"
alias nv="nvim"
alias va="vagrant"
alias vl="vault"
alias wa="watch "
alias watch="watch "
alias wh="which "
# alias wiki="gq narze/knowledge"
alias ya='yarn'
alias yd='yarn dev'
alias yui='yarn upgrade-interactive --latest'
alias yr='yarn run'
alias yt='yarn test'
alias ytw='yarn test --watch'
alias zd='cd $(zq -i)'
alias zt="zerotier-cli"
alias zs='zsh_stats'

# Docker & Kubernetes
alias d='docker'
alias dx='docker exec'
alias ds='docker ps'
alias dc='docker-compose'
alias k='kubectl'
alias kc='kubectx'
alias kn='kubens'
alias kg='kubectl get'
alias kgj='kubectl get job'
alias kgn='kubectl get node'
alias kp='kubectl get pods -o wide'
alias kgz='kubectl get secret'
alias kd='kubectl describe'
alias kdp='kubectl describe pod'
alias kdn='kubectl describe node'
alias kx='kubectl exec'

# Directories
alias des='cd {{ .chezmoi.homeDir }}/Desktop'
alias dev='cd {{ .chezmoi.homeDir }}/Development'
alias doc='cd {{ .chezmoi.homeDir }}/Documents'
alias dow='cd {{ .chezmoi.homeDir }}/Downloads'

# Servers
alias do='ssh david@137.184.6.70'
alias nserv='ssh sbiwd@208.95.104.123'


# Utilities

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Flush the DNS on Mac
alias dnsflush='sudo killall -HUP mDNSResponder'

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple's System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv {{ .chezmoi.homeDir }}/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 {{ .chezmoi.homeDir }}/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Files being opened
alias files.open='sudo fs_usage -e -f filesystem|grep -v CACHE_HIT|grep -v grep|grep open'
# Files used, anywhere on the filesystem
alias files.usage='sudo fs_usage -e -f filesystem|grep -v CACHE_HIT|grep -v grep'
# Files in use in the Users directory
alias files.usage.user='sudo fs_usage -e -f filesystem|grep -v CACHE_HIT|grep -v grep|grep Users'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias iplocal="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show network connections
# Often useful to prefix with SUDO to see more system level network usage
alias network.connections='lsof -l -i +L -R -V'
alias network.established='lsof -l -i +L -R -V | grep ESTABLISHED'
alias network.externalip='curl -s http://checkip.dyndns.org/ | sed "s/[a-zA-Z<>/ :]//g"'
alias network.internalip="ifconfig en0 | egrep -o '([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Directory listings
# LS_COLORS='no=01;37:fi=01;37:di=07;96:ln=01;36:pi=01;32:so=01;35:do=01;35:bd=01;33:cd=01;33:ex=01;31:mi=00;05;37:or=00;05;37:'
# -G Add colors to ls
# -l Long format
# -h Short size suffixes (B, K, M, G, P)
# -p Postpend slash to folders
alias ls='eza --icons'
alias ll='eza -l --icons'
alias la='eza -la --icons'
alias lt='eza --tree --icons'

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; asdf plugin update --all; mas upgrade;'

alias vtop="vtop --theme wizard"

# Development
alias dev="cd {{ .chezmoi.homeDir }}/Development"
alias pn="pnpm"
alias pni="pnpm install"
alias pna="pnpm add"
alias pnad="pnpm add -D"
alias pnr="pnpm run"
alias pnb="pnpm run build"
alias pnd="pnpm run dev"
alias pnt="pnpm run test"
alias y="yarn"
alias yd="yarn dev"
alias yb="yarn build"
alias yt="yarn test"

# Docker
alias d="docker"
alias dc="docker-compose"
alias dcu="docker-compose up"
alias dcd="docker-compose down"
alias dcb="docker-compose build"

# Git
alias gs="git status"
alias gp="git push"
alias gpl="git pull"
alias gc="git commit"
alias gca="git commit --amend"
alias gco="git checkout"
alias gb="git branch"
alias gf="git fetch"
alias gl="git log --oneline"

# PayloadCMS
alias pdev="yarn dev"
alias pbuild="yarn build"
alias pstart="yarn start"

# React
alias cra="create-react-app"
alias nrw="npm run watch"
alias nrd="npm run dev"
alias nrb="npm run build"
alias nrt="npm run test"

# TypeScript
alias tsc="npx tsc"
alias tsw="npx tsc --watch"

# Database
alias pgstart="brew services start postgresql"
alias pgstop="brew services stop postgresql"

# Shopify
alias sd="shopify deploy"
alias st="shopify theme"
alias stw="shopify theme watch"
alias stp="shopify theme pull"
alias stpu="shopify theme push"

# Prisma
alias prs="prisma studio"
alias prp="prisma push"
alias prf="prisma format"
alias prg="prisma generate"

# Astro
alias adev="astro dev"
alias abuild="astro build"
alias apreview="astro preview"

# Next.js
alias nd="next dev"
alias nb="next build"
alias ns="next start"

# Vite
alias vd="vite dev"
alias vb="vite build"
alias vp="vite preview"

# Mise version management (modern replacement for asdf)
alias mi="mise install"          # Install version
alias ml="mise list"             # List installed versions
alias mla="mise list-all"        # List all available versions
alias mg="mise global"           # Set global version
alias mlo="mise local"           # Set local version
alias mc="mise current"          # Show current versions
alias mu="mise update"           # Update mise
alias mup="mise plugin update"   # Update plugins
alias mr="mise reshim"           # Reshim tool versions
alias mw="mise which"            # Show which version is being used
alias mx="mise exec"             # Execute command with specific version

# Modern CLI Tools - Better replacements for standard tools
alias cat="bat"                  # Better cat with syntax highlighting
alias find="fd"                  # Better find
alias grep="rg"                  # Better grep (ripgrep)
alias top="btop"                 # Better top (if installed)
alias du="dust"                  # Better du (if installed)
alias ps="procs"                 # Better ps (if installed)

# FZF - Fuzzy finder optimizations
alias fzfp="fzf --preview 'bat --color=always --style=numbers --line-range=:500 {}'"
alias fzfd="fd --type d --hidden --follow --exclude .git | fzf --preview 'eza --tree --color=always {} | head -200'"  # Browse all directories
alias fzff="fd --type f --hidden --follow --exclude .git | fzf --preview 'bat --color=always --style=numbers --line-range=:500 {}'"

# Git with modern tools
alias gd="git diff | delta"      # Use delta for better diffs
alias gdh="git diff HEAD | delta"
alias gds="git diff --staged | delta"

# LazyGit and LazyDocker - TUI interfaces
alias lg="lazygit"               # Beautiful git TUI
alias ld="lazydocker"            # Beautiful docker TUI

# Zoxide - Smart directory jumping (better than z)
alias j="z"                      # Jump to frequently visited directories
alias ji="zi"                    # Interactive directory selection

# Directory navigation with eza (better ls)
alias tree="eza --tree --icons --level=3"
alias lt2="eza --tree --icons --level=2"
alias lt3="eza --tree --icons --level=3"
alias lta="eza --tree --icons -a"

# Development workflow optimizations
alias serve="python3 -m http.server 8000"  # Quick HTTP server
alias myip="curl -s ifconfig.me"           # Get external IP
alias localip="ipconfig getifaddr en0"     # Get local IP
alias ports="lsof -i -P -n | grep LISTEN"  # Show listening ports

# Kubernetes with modern tools
alias kx="kubectx"               # Switch contexts easily
alias kn="kubens"                # Switch namespaces easily
alias kgp="kubectl get pods -o wide --sort-by=.metadata.creationTimestamp"
alias kgs="kubectl get svc -o wide"
alias kgd="kubectl get deployments -o wide"
alias kgi="kubectl get ingress -o wide"
alias klog="kubectl logs -f"    # Follow logs
alias kdesc="kubectl describe"  # Describe resource

# Docker optimizations
alias dps="docker ps --format 'table {{ "{{" }}.Names{{ "}}" }}\t{{ "{{" }}.Image{{ "}}" }}\t{{ "{{" }}.Status{{ "}}" }}\t{{ "{{" }}.Ports{{ "}}" }}'"
alias dimg="docker images --format 'table {{ "{{" }}.Repository{{ "}}" }}\t{{ "{{" }}.Tag{{ "}}" }}\t{{ "{{" }}.Size{{ "}}" }}\t{{ "{{" }}.CreatedAt{{ "}}" }}'"
alias dclean="docker system prune -af"     # Clean up everything
alias dstop="docker stop \$(docker ps -q)" # Stop all containers
alias drm="docker rm \$(docker ps -aq)"    # Remove all containers

# AWS
alias awsw="aws --profile work"
alias awsp="aws --profile personal"
alias awsl="aws configure list-profiles"

# Productivity aliases
alias weather="curl wttr.in"     # Get weather
alias qr="qrencode -t ansiutf8"  # Generate QR codes
alias speedtest="speedtest-cli"  # Network speed test

# Database management
alias pgstart="brew services start postgresql"
alias pgstop="brew services stop postgresql"
alias redisstart="brew services start redis"
alias redisstop="brew services stop redis"

# Network monitoring
alias netusage="bandwhich"       # Network usage monitor
alias diskusage="ncdu"           # Interactive disk usage

# YAML/JSON processing
alias yaml2json="yq eval -o=json"
alias json2yaml="yq eval -o=yaml"

# AWS with vault
alias aws="aws-vault exec"

# Development tools
alias j="just"                   # Just command runner
alias m="make"                   # Make build tool

# Docker shortcuts (when available)
alias dc="docker-compose"
alias dps="docker ps"
alias dimg="docker images"
