{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

source /tmp/chezmoi-utils.sh

printf "${green}[06 - Cloning] ${reset}"
{{ if or (lt 07 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_CLONE_SETUP") -}}
echo "Skip clone repos"
exit 0
{{ else }}
echo "Clone Repos"
{{- end }}


# check to see if Development directory exists
{{ if stat (joinPath .chezmoi.homeDir "Development") }}
echo "Already exists"
exit 0
{{ else }}
# Create dev directories
echo "Creating directories..."
mkdir -p {{ .chezmoi.homeDir }}/Development

DIRECTORY_DEVENIO={{ .chezmoi.homeDir }}/Development/Devenio

mkdir -p $DIRECTORY_DEVENIO

echo "Clone Repos"

{{ end }}
{{ end -}}
