{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

source /tmp/chezmoi-utils.sh

printf "${green}[05 - Cloning] ${reset}"
{{ if or (lt 5 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_CLONE_SETUP") -}}
echo "Skip clone repos"
exit 0
{{ else }}
echo "Clone Repos"
{{- end }}

# {{ if not stat (joinPath .chezmoi.homeDir "Development") }}
# echo "test doesn't exist"
# {{ end }}


# check to see if Development directory exists
{{ if stat (joinPath .chezmoi.homeDir "Development") }}
echo "Already exists"
exit 0
{{ else }}
# Create dev directories
echo "Creating directories..."
mkdir -p {{ .chezmoi.homeDir }}/Development

DIRECTORY_DEVENIO={{ .chezmoi.homeDir }}/Development/Devenio
DIRECTORY_RUPIE={{ .chezmoi.homeDir }}/Development/Rupie

mkdir -p $DIRECTORY_DEVENIO
mkdir -p $DIRECTORY_RUPIE

echo "Clone Repos"
git clone https://github.com/RupieNetwork/Rupie.git $DIRECTORY_RUPIE/rupie
git clone https://github.com/RupieNetwork/email-templates.git $DIRECTORY_RUPIE/email-templates
git clone https://github.com/RupieNetwork/website.git $DIRECTORY_RUPIE/website

{{ end }}
{{ end -}}
