# Path to your oh-my-zsh configuration.
export ZSH=$HOME/.config/oh-my-zsh

ZSH_THEME="powerlevel10k/powerlevel10k"

if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

if [[ -n "${GITHUB_CODESPACE_TOKEN}" ]]; then
  typeset -g POWERLEVEL9K_INSTANT_PROMPT=quiet
fi

ulimit -n 8192

# Which plugins would you like to load? (plugins can be found in ~/.dotfiles/oh-my-zsh/plugins/*)
plugins=(
  colorize
  compleat
  cp
  dirpersist
  fzf
  git
  gulp
  history
  olets/zsh-abbr
  z
  zmv
  zsh-autosuggestions
  zsh-syntax-highlighting
)


# Define key bindings.
# z4h bindkey z4h-cd-back    Shift+Left   # cd into the previous directory
# z4h bindkey z4h-cd-forward Shift+Right  # cd into the next directory
# z4h bindkey z4h-cd-up      Shift+Up     # cd into the parent directory
# z4h bindkey z4h-cd-down    Shift+Down   # cd into a child directory

# Autoload functions.
autoload -Uz zmv

# Add flags to existing aliases.
alias ls="${aliases[ls]:-ls} -A"

# Set shell options: http://zsh.sourceforge.net/Doc/Release/Options.html.
# Awesome cd movements from zshkit
setopt autocd autopushd pushdminus pushdsilent pushdtohome cdablevars
DIRSTACKSIZE=5

# Allow [ or ] whereever you want
unsetopt nomatch
setopt extendedglob  # enable extended globbing
setopt glob_dots     # no special treatment for file names with a leading dot
setopt no_auto_menu  # require an extra TAB press to open the completion menu

# Homebrew setup based on mac & platform (Mac specific config)
{{ if (eq .chezmoi.os "darwin" ) -}}
if [ "$(uname -m)" == "arm64" ]; then
  # 3. x86 brew bin
  if [ -f /usr/local/bin/brew ]; then
    eval $(/usr/local/bin/brew shellenv)
    fpath+=($(/usr/local/bin/brew --prefix)/share/zsh/site-functions)
  fi

  # 2. arm64 brew
  if [ -f /opt/homebrew/bin/brew ]; then
    fpath+=($(/opt/homebrew/bin/brew --prefix)/share/zsh/site-functions)
    eval $(/opt/homebrew/bin/brew shellenv)
  fi
else
  # 3. arm64 brew
  if [ -f /opt/homebrew/bin/brew ]; then
    fpath+=($(/opt/homebrew/bin/brew --prefix)/share/zsh/site-functions)
    eval $(/opt/homebrew/bin/brew shellenv)
  fi

  # 2. x86 brew bin
  if [ -f /usr/local/bin/brew ]; then
    fpath+=($(/usr/local/bin/brew --prefix)/share/zsh/site-functions)
    eval $(/usr/local/bin/brew shellenv)
  fi
fi

# 1. user brew
if [ -f ~/homebrew/bin/brew ]; then
  eval $(~/homebrew/bin/brew shellenv)
fi
{{- end }}

# Zoxide : prompt hook mode
if command -v zoxide &> /dev/null; then
  eval $(zoxide init zsh --hook prompt)
fi

# use brew installed asdf
. $(brew --prefix asdf)/libexec/asdf.sh
. $(brew --prefix asdf)/etc/bash_completion.d/asdf.bash

source $HOME/.profile
source $HOME/.zshrc
