# Generic configuration that applies to all shells
source ~/.config/shell/.vars
source ~/.config/shell/.paths
source ~/.config/shell/.functions
source ~/.config/shell/.aliases
source ~/.config/iterm2/.iterm2_shell_integration.`basename $SHELL`
