
[default]
aws_access_key_id={{ (onepasswordDetailsFields "AWS Access Key" .vaultRupie).username.value }}
aws_secret_access_key={{ (onepasswordDetailsFields "AWS Access Key" .vaultRupie).password.value }}
